.copy-01 {
  font: 1.2rem/1.4rem $fontPrimary;
  display: block;
}

.copy-02 {
  font: 1rem/1.4rem $fontPrimary;
  display: block;
}

.copy-03 {
  font: .8rem/1rem $fontPrimary;
  display: block;
}

.copy-04 {
  font: 1.6rem/2.2rem $fontPrimary;
  display: block;
}
