/* stylelint-disable-next-line block-no-empty */
.source-page {
  .audio-player {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .pdf-viewer {
    height: calc(100vh - 15rem);
  }
}
