.button {
  display: inline-block;
  border-radius: 0;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.primary-button {
  font: 1.4rem/1.4rem $fontPrimary;
  padding: .6rem 2.5rem;
  color: $colorWhite;
  background: $colorSecondary;
  border-radius: 13.5px;
}

.secondary-button {
  font: 1.4rem/1.4rem $fontPrimary;
  padding: .6rem 2.5rem;
  color: $colorWhite;
  background: $colorTertiary;
  border-radius: 13.5px;
}
