.button {
  display: inline-block;
  border-radius: 0;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.primary-button {
  font: 1.6rem/2rem $fontSecondary;
  padding: 1rem 4.5rem;
  color: red;
  background: white;
  border-radius: 10px;

  &.light {
    background: white;
  }
}
