/* stylelint-disable-next-line block-no-empty */
.main-footer {
  background: $colorWhite;
  position: fixed;
  bottom: 0;
  height: 5rem;

  .footer {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: flex-end;
  }

  .button {
    margin-right: 2.5rem;
  }
}
