/* stylelint-disable-next-line block-no-empty */
.main-footer {
  background: $colorWhite;
  position: fixed;
  bottom: 0;
  height: 5rem;
  min-width: 100vw;

  .footer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: flex-end;
  }

  .button:first-child  {
    margin-right: 2.5rem;
  }
}
